<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>ServletContextDemoApp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>driver</param-name>
		<param-value>oracle.jdbc.driver.OracleDriver</param-value>
	</context-param>

	<context-param>
		<param-name>url</param-name>
		<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
	</context-param>

	<context-param>
		<param-name>user</param-name>
		<param-value>vsics</param-value>
	</context-param>

	<context-param>
		<param-name>pass</param-name>
		<param-value>vsics</param-value>
	</context-param>


	<servlet>
		<servlet-name>dlt</servlet-name>
		<servlet-class>com.vsics.fs.DeleteEmployeeServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>dlt</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>upd</servlet-name>
		<servlet-class>com.vsics.fs.UpdateEmployeeServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>upd</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>

</web-app>